In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples,silhouette_score
from sklearn.cluster import DBSCAN
from random import sample

# RFM PROCESS

In [16]:
#INTERVALOS EN LA VARIABLE DIAS ÚLTIMA COMPRA
pd.qcut(df["DíasUltimaCompra"],5)

0                   NaN
1           (5.0, 23.0]
2         (-0.001, 5.0]
3         (71.0, 195.0]
4         (-0.001, 5.0]
              ...
666674    (-0.001, 5.0]
666675    (-0.001, 5.0]
666676    (-0.001, 5.0]
666677    (-0.001, 5.0]
666678    (-0.001, 5.0]
Name: DíasUltimaCompra, Length: 666679, dtype: category
Categories (5, interval[float64]): [(-0.001, 5.0] < (5.0, 23.0] < (23.0, 71.0] < (71.0, 195.0] < (195.0, 395.0]]

In [17]:
 #INTERVALOS EN RECENCIA ETIQUEDADOS
pd.qcut(df["DíasUltimaCompra"],5,labels=[5,4,3,2,1])

0         NaN
1           4
2           5
3           2
4           5
         ...
666674      5
666675      5
666676      5
666677      5
666678      5
Name: DíasUltimaCompra, Length: 666679, dtype: category
Categories (5, int64): [5 < 4 < 3 < 2 < 1]

In [18]:
#INTERVALOS DE LA VENTA NETA ACUMULADA
pd.qcut(df['venta_neta'],5)

0               (741.865, 2280.309]
1             (6513.616, 22907.105]
2             (6513.616, 22907.105]
3               (741.865, 2280.309]
4         (22907.105, 12114279.381]
                    ...
666674          (-131.431, 741.865]
666675          (741.865, 2280.309]
666676          (-131.431, 741.865]
666677          (741.865, 2280.309]
666678          (741.865, 2280.309]
Name: venta_neta, Length: 666679, dtype: category
Categories (5, interval[float64]): [(-131.431, 741.865] < (741.865, 2280.309] < (2280.309, 6513.616] < (6513.616, 22907.105] < (22907.105, 12114279.381]]

In [19]:
#INTERVALOS DE LA VENTA NETA ACUMULADA ETIQUETADOS
pd.qcut(df['venta_neta'],5,[1,2,3,4,5])

0         2
1         4
2         4
3         2
4         5
         ..
666674    1
666675    2
666676    1
666677    2
666678    2
Name: venta_neta, Length: 666679, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [20]:
#FRECUENCIA UNICOS PARA UNA MEJOR DISTRIBUCION
days=list(range(min(df['dias_compra']),max(df['dias_compra']+1)))
auxiliar=pd.DataFrame(days)
auxiliar["etiqueta"]=pd.cut(days,5,labels=[1,2,3,4,5])

In [21]:
#INTERVALOS FINALES
pd.cut(days,5)

[(0.606, 79.8], (0.606, 79.8], (0.606, 79.8], (0.606, 79.8], (0.606, 79.8], ..., (316.2, 395.0], (316.2, 395.0], (316.2, 395.0], (316.2, 395.0], (316.2, 395.0]]
Length: 395
Categories (5, interval[float64]): [(0.606, 79.8] < (79.8, 158.6] < (158.6, 237.4] < (237.4, 316.2] < (316.2, 395.0]]

In [22]:
auxiliar.columns=['dias','FRECUENCY']
auxiliar

     dias FRECUENCY
0       1         1
1       2         1
2       3         1
3       4         1
4       5         1
..    ...       ...
390   391         5
391   392         5
392   393         5
393   394         5
394   395         5

[395 rows x 2 columns]

In [23]:
df["RECENCY"]=pd.qcut(df["DíasUltimaCompra"],5,labels=[5,4,3,2,1]) #RECENCY
df=pd.merge(df,auxiliar,how="left",left_on='dias_compra',right_on='dias') #FREQUENCY
df["MONETARY"]=pd.qcut(df['venta_neta'],5,[1,2,3,4,5]) #MONETARY

In [26]:
df["RFM"]=df["RECENCY"].astype(str)+df["FRECUENCY"].astype(str)+df["MONETARY"].astype(str)

In [27]:
data=df.copy()

In [2]:
data.head(5)

In [29]:
data.to_excel(r"",encoding="latin1")

In [3]:
data.shape